# Python Tutorial

## Welcome to Python Tutorial

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [181]:
current_year = 2021

In [182]:
type(current_year)

int

In [183]:
1+1

2

In [184]:
4*5

20

In [186]:
2**10

1024

In [187]:
10/2

5.0

In [188]:
10//2

5

In [190]:
21%2

1

In [191]:
print("Hello students")

Hello students

In [195]:
type()

int

A float is a number with a decimal place - very useful for representing things like weights or proportions.

type() is the second built-in function we've seen (after print()), and it's another good one to remember. It's very useful to be able to ask Python "what kind of thing is this?"

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [200]:
one_hundredth = 2e-2
one_hundredth

0.02

In [201]:
type(one_hundredth)

float

In [202]:
10%2

0

In [203]:
10**2

100

In [ ]:
##Check the Data types

In [204]:
type(True)

bool

In [205]:
type("Hello")

str

### Strings

In [206]:
"Hello"

'Hello'

In [209]:
'Lets upgrade2021'

'Lets upgrade2021'

In [211]:
type("2021")

str

### Variable Assigment

Here we create a variable called say 'var' and assign it the value of 0 using =, which is called the assignment operator.

In [213]:
# syntax
# var_name=values


a=10

In [214]:
type(a)

int

In [215]:
a='Lets upgrade'

In [216]:
type(a)

str

In [218]:
## Various Ways of Printing

print("Hello")

Hello

In [220]:
first_name='Lakshmi'
last_name='Ravindran'

In [221]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Lakshmi and last name is Ravindran

In [222]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Lakshmi and last name is Ravindran

In [223]:
len('Lakshmi')

7

## How to check for what datatype

In [224]:
type(['1',2,3,4,5])

list

In [225]:
type(14.4)

float

In [ ]:
type("Hello")

In [226]:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?

total_height_meters = hat_height_cm + my_height_cm / 100
print("Height in meters =", total_height_meters, "?")

Height in meters = 26.9 ?

In [227]:
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 2.15

In [229]:
help(round)  ## help()

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

### Built-in functions for working with numbers

 min and max return the minimum and maximum of their arguments, respectively...

In [230]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

In [231]:
print(abs(32))  ###abs returns the absolute value of an argument
print(abs(-32))

32
32

In [ ]:
## n addition to being the names of Python's two main numerical types, 
#int and float can also be called as functions which convert their arguments to the corresponding type:
print(float(10))
print(int(3.33))
# They can even be called on strings!
print(int('807') + 1)

The help() function is possibly the most important Python function you can learn. If you can remember how to use help(), you hold the key to understanding most other functions.

In [232]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [235]:
type(True)

bool

In [236]:
type(False)

bool

In [247]:
my_str='lakshmi'

In [248]:
my_str.istitle()

False

In [249]:
print(my_str.isalnum()) #check if it is alpha-numeric
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('i')) #test if string endswith a d
print(my_str.startswith('l')) #test if string startswith H

True
True
False
False
False
True
False
True
True

### Boolean and Logical Operators

In [250]:
True and True

True

In [251]:
True and False

False

In [252]:
True or False

True

In [253]:
True or True

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [254]:
type([1,2,3,5,'python'])

list

In [256]:
lst=list()

In [257]:
type(lst)

list

In [258]:
lst = ['Python', 'Java', 20,30, 40,50]

In [259]:
len(lst)

6

In [260]:
lst.append("Perl")   ## Append

In [261]:
lst

['Python', 'Java', 20, 30, 40, 50, 'Perl']

In [262]:
lst[6]  ###Indexing in list

'Perl'

In [264]:
lst[2:6]

[20, 30, 40, 50]

In [265]:
lst.append(["Arthi", "Lakshmi"])

In [266]:
lst  ##nested list

['Python', 'Java', 20, 30, 40, 50, 'Perl', ['Arthi', 'Lakshmi']]

In [269]:
lst[7]

['Arthi', 'Lakshmi']

In [270]:
lst.insert(2, "gcp")

In [271]:
lst

['Python', 'Java', 'gcp', 20, 30, 40, 50, 'Perl', ['Arthi', 'Lakshmi']]


### List vs Set

1. The List is an ordered sequence.	1. The Set is an unordered sequence.
2. List allows duplicate elements	2. Set doesnâ€™t allow duplicate elements.
3. Elements by their position can be accessed.	3. Position access to elements is not allowed.

## Tuples


A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [297]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [298]:
y = (4, 5, 6)
y[2]

6

In [299]:
fruits = ('apple', 'cherry', 'dates')

In [301]:
# check no. of elements
len(fruits)

3

In [302]:
# get an element (positive index)
fruits[0]

'apple'

In [303]:
# get an element (negative index)
fruits[-2]

'cherry'

In [304]:
# check if it contains an element
'dates' in fruits

True

In [305]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [306]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [307]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

# Extend

In [283]:
lst = [1,2,3,4,5,6]

In [284]:
lst.extend([8,9])

In [285]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [286]:
sum(lst)   ###sum operation in list

38

In [287]:
lst*2

[1, 2, 3, 4, 5, 6, 8, 9, 1, 2, 3, 4, 5, 6, 8, 9]

In [288]:
lst.pop()

9

In [289]:
lst

[1, 2, 3, 4, 5, 6, 8]

In [291]:
lst.pop(0)

2

In [292]:
lst

[3, 4, 5, 6, 8]

### count():Calculates total occurrence of given element of List

In [293]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [294]:
#length:Calculates total length of List
len(lst)

6

In [296]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
#lst.index(1)
lst.index(1,1,4)

1

In [ ]:
min(lst)

In [ ]:
max(lst)

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [308]:
## Defining an empty set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [310]:
set_var={1,2,3,4,3,1,2,2,3,4,4,1}

In [311]:
set_var

{1, 2, 3, 4}

In [312]:
set_var={"Apple","Mango",'Guava'}
print(set_var)
type(set_var)

{'Mango', 'Apple', 'Guava'}

set

In [313]:
##indexing

set_var.add("avocado")

In [314]:
set_var

{'Apple', 'Guava', 'Mango', 'avocado'}

### Assignment

In [1]:

a=10
b=20

#print(a*b)
#print(a/b)
#print(a%b)
#print((a*b)+(a/b)) ##BODMAS

In [2]:
#Write a program which accept principle, rate and time from user and print the simple interest. The formula to calculate simple interest is: simple interest = principle x rate x time / 100 Solution